{# лейблы
<div class="b-labels">
    <div>
        <div class="b-labels__label b-labels__label_discount">Скидка</div>
    </div>
    <div>
        <div class="b-labels__label b-labels__label_hit">Хит</div>
    </div>
</div>#}