{% spaceless %}
    <div class="catalogItems">
        {% if result.list %}
            <div class="catalogItems__content js-catalog-list"
                 data-ajax-param-name="{{ params.AJAX_PARAM_NAME }}"
                 data-ajax-component-id="{{ params.AJAX_COMPONENT_ID }}"
                 data-page-count="{{ result.nav.pageCount }}">

                {% for item in result.list %}
                    {% include 'natix:catalog.set.list:list:item' with {
                        'item': item,
                    } %}
                {% endfor %}

            </div>
            <div class="catalogItems__footer">
                <div class="button button-dark js-show-more">ПОКЗАТЬ ЕЩЁ</div>
            </div>
        {% else %}
            <p>К сожалению у нас нет товаров, соответствующих вашему запросу. <br>
                Попробуйте изменить поисковый запрос</p>
        {% endif %}
    </div>

    {% if result['section']['DESCRIPTION'] %}
        <div class="b-text">
            {{ result['section']['DESCRIPTION'] }}
        </div>
    {% endif %}
{% endspaceless %}
