{% spaceless %}
    {% if result %}
        <div class="footer__item footer__item_catalog">
            <div class="footer__navWrapper">
                <div class="footer__title">Каталог</div>
                <div class="footer__nav">
                    {% for item in result %}
                        <a class="footer__navItem" href="{{ item.LINK }}">{{ item.TEXT }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}
{% endspaceless %}
