{% spaceless %}
    <div class="container">
            <div>
                <div class="order-ok__content">
                    <h1 class="order-ok__title" style="color: red">Ошибка заказа!</h1>
                    <div class="order-ok__inner">
                        <div class="order-ok__subtitle">{{ result['ERROR'] }}</div>
                    </div>
                </div>
            </div>
    </div>
{% endspaceless %}
